body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: #f1f1fe;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 0;
    margin: 0 auto;
}

.title-container{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(53,53,129,1) 35%, rgba(241,241,254,1) 100%);
    box-sizing: border-box;
}

.card-container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 7% 10px 0 10px;
    padding-bottom: 5%;
    gap: 55px;
    box-sizing: border-box;
    background: #f1f1fe;
    overflow-x: hidden;
}

#card-container {
    margin: 5% 0 5% 0;
}

.card-container > [class^="card"]:last-child {
    margin: 0 0 50px 0;
    box-sizing: border-box;
}

.title{
    font-family: 'Sf Pro Display Medium';
    font-size: clamp(8em, 10em, 16em);
    line-height: 1.15;
    letter-spacing: -.01rem;
    transition: color .32s ease;
}

.title:hover{
    color: rgb(99, 99, 102);
}

.sub-title{
    font-family: 'SF Pro Text Medium';
    font-size: 4em;
}

.a-sub-title {
    text-decoration: none;
    color: black;
    font-family: 'SF Pro Text Medium';
    transition: color .32s ease;
    position: relative;
}

.title-hover-message {
    width: fit-content;
    height: fit-content;
    opacity: 0;
    transition: all .32s ease;
}

.title-hover-svg {
    width: 44px;
    height: 44px;
    padding: 0px 0 0 15px;
    transform-origin: top-right;
    transform: translateX(-15px);
    transition: transform .5s ease;
}

.title-hover-svg path {
    fill: rgb(99, 99, 102);;
}

.a-sub-title:hover{
    color: rgb(99, 99, 102);
}

.a-sub-title:hover + .title-hover-message {
    opacity: 1;
    
    .title-hover-svg {
        
        transform: translateX(-5px);
    }
}

.a-sub-title::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; /* Ligne invisible au départ */
    height: 2px;
    background: black;
    transition: all 0.24s ease; /* Transition très fluide */
    transform: translateX(-50%);
}

.a-sub-title:hover::before {
    width: 100%; /* Ligne complète au survol */
    left: 0;
    transform: translateX(0); /* Alignement fluide avec la largeur */
    background: #555;
}

.arrow-down path {
    fill: black;
}

.arrow {
    display: flex;
    position: relative;
    top: 25%;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
        }
    }

.card-title1, .card-title2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SF Pro Display Medium';
    font-size: clamp(4em, 6.5em, 8em);
    line-height: 1.3347;
    letter-spacing: -.01em;
    transition: all .32s ease;
}

.card-title1 {
    margin: 10px 0 0 0;
}

.card-text {
    font-family: 'SF Pro';
    font-size: clamp(1em, 2em, 4em);
    line-height: 1.3347;
    letter-spacing: -.01em;
    padding: 0 20px 0 20px;
    transition: color .32s ease;
}

.button-card1, .button-text{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 10px;
    z-index: 0;
}

.svg-button-card1, .svg-button-card2, .svg-button-card2-text{
    width: 34px;
    height: 34px;
}

.svg-button-card1 path, .svg-button-card2 path, .svg-button-card2-text path{
    transition: all .32s ease;
}

.card1 {
    display: flex;
    width: 100%;
    max-width: 980px;
    height: 500px;
    perspective: 3200px; /* Nécessaire pour l'effet 3D */
    position: relative;
    will-change: transform;
    transition: transform .75s cubic-bezier(0.39,0.575,0.565,1), scale .64s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.card1:hover {

    scale:1.025;

    .svg-button-card1 path {
        fill: rgb(108,108,112);
    }

    .lottie-path {
        stroke-dashoffset: 0;
        stroke: #06c;
        }
}

.card-back:hover {
    
    .svg-button-card2 path {
        fill: rgb(108,108,112);
    }
}

.card1 .card-front,
.card1 .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Cache le verso quand le recto est visible */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s cubic-bezier(0.39,0.575,0.565,1);
}

.card1 .card-front{
    background: rgb(242, 242, 247);
    transform: rotateX(0deg);
}

.card1 .card-back {
    background: #fff;
    transform: perspective(1000px) rotateX(180deg);
}

.card1.flipped {
    transform: perspective(1000px) rotateX(180deg);
    transform-style: preserve-3d; /* Maintient le 3D pendant les transition */
}

.card1, .card2{
    transform-style: preserve-3d;
    transition: transform 1.5s;
    cursor: crosshair;
}
.lottie {
    margin: 0 0 0 0;
    display: flex;
}

.lottie-path {
    stroke-dasharray: 705; /* La longueur totale du chemin */
    stroke-dashoffset: 705; /* Cache le chemin au début */
    stroke: #06c;
    transition: stroke-dashoffset .64s cubic-bezier(0.4, 0, 0.2, 1);
}

.lottie-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.hover-message {
    visibility: hidden;
    opacity: 0;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: -130%;
    bottom: 12.5px;
    width: fit-content;
    white-space: nowrap;
    z-index: 1;
    transition: visibility .1s ease ,opacity 0.64s, transform .64s ease;
    font-family: 'SF Pro';
}

.button-text:hover .hover-message {
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
}

.button-text:not(:hover) .hover-message {
    transform: translateX(50%);
    visibility: hidden;
    opacity: 0;
}

.card2 {
    width: 100%;
    height: 500px;
    max-width: 980px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform .64s cubic-bezier(0.39,0.575,0.565,1), scale .64s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card2:hover{
    scale: 1.025;
}

.card2 .card-front,
.card2 .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s cubic-bezier(0.39,0.575,0.565,1);
}

.card2 .card-front{
    background: rgb(242, 242, 247);
}

.card2 .card-back {
    background: #fff;
    transform: rotateX(180deg);
}

.card2.flipped {
    transform: perspective(1000px) rotateX(180deg);
    transform-style: preserve-3d; /* Maintient le 3D pendant la transition */
}

.card2 .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card2-text {
    font-size: 1.5em;
    padding: 0 20px 0 20px;
    font-family: 'SF Pro';
    line-height: 1.3347;
    letter-spacing: -.01em;
}

.card2 .card-front {
    display: flex;
    flex-direction: row;
}

.image-container {
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 100%;
}

.card2-image {
    display: flex;
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
}

.card2-title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 .card-title2 {
    color: #555;
}

.button-container2 {
    display: flex;
    position: relative;
    width: 44px;
    height: 44px;
}

.button-text2,
.button-text3 {
    display: flex;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    cursor: crosshair;
    transition: opacity 0.3s ease-in-out;
}

.button-text3 {
    visibility: hidden;
    opacity: 0;
    left: 7px;
    transition: visibility 0.4s, opacity 0.4s ease-in-out;
}

.button-text3.toggled {
    visibility: visible;
    opacity: 1;

}

.button-text2.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s ease-in-out;
}

.button-text2 {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.card2-text-hidden {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 82.5%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    transition: all 1s ease;
}

.card2-text-hidden.visible {
    display: flex;
}

.svg-button-card2-text:hover path {
    fill: rgb(108, 108, 112);
}

.language-container {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    background: rgb(241,241,254);
    background: linear-gradient(180deg, rgba(241,241,254,1) 0%, rgba(185,176,192,1) 20%, rgba(119,100,120,1) 45%, rgba(89,65,87,1) 70%);
}

.language-title {
    margin: 10% 0 0 0;
    font-family: 'SF Pro Display Medium';
    font-size: clamp(2em, 8em, 12em);
    letter-spacing: -.01em;
    width: 100%;
    text-align: center;
    background: linear-gradient(135deg, #f1f1fe, #000000, #000000, #000000); /* Gradient complexe */
    background-size: 200%; /* Étend le gradient pour permettre le défilement */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Applique uniquement le gradient */
    color: transparent; /* Cache la couleur de base */
    transition: scale .32s ease;
}

.language-title:hover{
    scale: 1.025;
}

.hidden {
    opacity: 0;
    position: relative;
    transform: translateY(50px); /* Décalage vers le bas */
    transition: opacity 1.2s ease-out, transform 1.75s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    box-sizing: border-box;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Retour à la position initiale */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    box-sizing: border-box;
}

.language-cards{
    display: flex;
    height: 100%;
    max-height: 150px;
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    background: #f1f1fe;
    transition: scale .32s ease, box-shadow .32s ease;
    gap: 10px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.6);
}

.language-cards:hover{
    scale: 1.025;
    -webkit-box-shadow: 0px 0px 20px 5px #000000; 
    box-shadow: 0px 0px 20px 5px #000000;

    .card-text {
        color: gray;
    }
}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 600px) {
    html, body {
        font-size: 14px; /* Réduit la taille du texte pour les petits écrans */
    }

    .container {
        width: 100vw;
        height: 100vh;
        padding: 0;
    }

    .card-container {
        gap: 30px; /* Réduit l'écart entre les cartes */
    }

    .card1, .card2 {
        height: 500px; /* Réduit la taille des cartes */
        width: 90vw; /* S'assure que les cartes prennent la largeur de l'écran */
    }

    .card-title1, .card-title2, .language-title{
        font-size: 3em;
    }

    .visible {
        flex-direction: column;
        align-items: center;
        margin: 10px 0 0 0;
        justify-content: start;
    }

    .title {
        font-size: clamp(4em, 8em, 10em); /* Taille ajustée pour les petits écrans */
    }

    .sub-title {
        font-size: 2.5em;
    }

    .button-text {
        font-size: 1rem;
    }
}

/*Colors Palette
4D7C8A
7F9C96
003B36
ECE5F0

F1DAC4
A69CAC
474973
161B33
0D0C1D
7D8CC4
726DA8
594157
3A405A
99B2DD
3A405A
*/
